body {
    font-family: 'Inter', sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-top: 3.4vh;
    padding-right: 10.4vw;
    padding-bottom: 0;
    padding-left: 10.4vw;
    color: var(--font-color);
}
