h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 2.1em;
    font-weight: 700;
    letter-spacing: -1.5px;
}

p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 30em;
}

blockquote {
    margin-left: 1.5em;
    padding-left: 1em;
    font-style: italic;
    font-size: 0.8em;
    border-left: 0.25em solid var(--purple-main);
}

blockquote p {
    padding-top: 0em;
    padding-bottom: 0em;
}

span.contact {
    color: var(--font-contact);
}

span.block-spam {
    display: none;
}

.main-content a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--font-color);
    position: relative;
}

.main-content a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background: var(--purple-links);
}

.main-content a:hover:after {
    top: 0%;
}