nav.external-links {
    position: absolute;
    top: 4.5vh;
    left: 60vw;
}

nav.external-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 1.15em;
}

nav.external-links ul li {
    margin: 0;
}

nav.external-links ul li a {
    color: var(--external-links);
    text-decoration: none;
    font-size: 1.7em;
}

nav.external-links ul li a:hover {
    color: var(--purple-links);
}
