nav.lang-switcher {
    position: absolute;
    top: 4.7vh;
    /* right: 10vw; */
    left: calc(57vw + 9.5em);
    display: flex;
    gap: 1em;
}

nav.lang-switcher a {
    text-transform: lowercase;
    font-size: 0.9em;
    transition: opacity 200ms ease;
    border: 1px solid var(--lang-background);
    border-radius: 100%;
    line-height: 1.5em;
    height: 1.7em;
    width: 1.7em;
    text-align: center;
}

nav.lang-switcher a:not(.active) {
    color: var(--lang-not-active-text);
    background-color: var(--lang-background);
    text-decoration: underline;
}

nav.lang-switcher a.active {
    color: var(--lang-active-text);
    cursor: default;
}

nav.lang-switcher a:not(.active):hover {
    border-color: var(--lang-background-hover);
    background-color: var(--lang-background-hover);
}
