:root {
    --font-color: rgb(18, 19, 20);
    --font-contact: #485361;
    --purple-main: rgba(77, 107, 254, 0.8);
    --purple-links: rgba(77, 107, 254, 0.5);
    --external-links: rgba(18, 19, 20, 0.7);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    padding: 5vh 10vw;
    color: var(--font-color);
}
